/*
 * This is a testcase for CSS
 * [comment, punctuation.definition.comment]
 */

#id {
  /* [constant.other.color] */
  background-color: #212121;
}

.class {
  color: blue;
  /* [keyword]> px */
  font-size: 12px;
}

body {
  font-family: "Courier New", Courier, monospace;
}
